.flag {
    margin-top: 5%;
    margin-left: 5%;
    width: 400px;
    height: 250px;
    background-color: #006a4e;
    position: relative;
    animation: wave 3s infinite;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: rgb(245, 7, 7);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flag::before {
    content: "";
    width: 400px;
    height: 60px;
    background-color: #006a4e;
    position: absolute;
    top: 0;
    left: 0;
}

.flag::after {
    content: "";
    width: 120px;
    height: 250px;
    background-color: #006a4e;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}
